/* 
font-family: 'Assistant', sans-serif;
light 300
regular 400
extrabold 800
 */

:root {
  --primary: aquamarine;
  --primary-accent: rgb(202, 251, 235);
  --secondary: #d28eca;
  --color3: #ff5858;
  --ltGrey: rgba(229, 227, 227, 0.668);
}
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Assistant", sans-serif;
}

/* SECTION */
/* -- background -- */
body {
  /* center all */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  background: #f857a6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ff5858,
    #f857a6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ff5858,
    #f857a6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background repeating bug, removes block effect after 'main' div ends  */
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: static;
}

/* SECTION */
/* -- main -- */
main {
  height: 80vh;
  width: 38vw;
  border-radius: 3em;
  background-color: azure;
}
/* SECTION */
/* -- dashboard -- */
#dash {
  height: 28vh;
  padding: 1rem 2rem 0px 2rem;
  border-radius: 2em 2em 0px 0px;
  /* background-color: var(--primary-accent); */
}
#analytics {
  font-weight: 800;
  color: var(--color3);
}
#taskInputs {
  background-color: var(--ltGrey);
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  margin: 1rem 0px 0px 0px;
}
#submitTask {
  /* background-color: var(--color3); */
  background-color: none;
  border: none;
  border: var(--color3) 2px solid;
  border-radius: 0.75rem;
  color: var(--color3);
  font-size: 1.2rem;
  width: 100%;
}

/* SECTION */
/* -- list filters / categories -- */
#filters {
  padding: 0.75rem 2rem;
  height: auto;
  background-color: var(--ltGrey);
  /* border: #f857a6 dashed 2px; */
}
.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catInput {
  background-color: var(--ltGrey);
  position: absolute;
  left: 15%;
  width: 80%;
  z-index: 4;
  border: none;
  display: none;
}
#newUserCat {
  width: 70%;
  margin-right: 4%;
}
#submitCategory {
  background-color: var(--color3);
  color: white;
  width: 25%;
  border: 0;
  padding: 0;
  border-radius: 0.75rem;
}
#filters-select {
  display: flex;
  gap: 1rem;
  position: absolute;
  left: 15%;
  width: 80%;
  z-index: 2;
  overflow-x: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#filters-select::-webkit-scrollbar {
  display: none;
}
.filter__button {
  min-width: max-content; /* always fit content */
  background-color: var(--color3);
  color: white;
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem 0.3rem 1rem;
  border-radius: 1rem;
  border: 0;
}
.remove {
  margin-left: 0.5rem;
  padding: 0.25rem;
}
.remove::after {
  content: "\2716";
}
.active {
  opacity: 0.75;
  background-color: #8c8c8c;
}
/* SECTION */
/* -- scrollable list -- */
#list {
  height: 36vh;
  padding: 0rem 1.75rem;
  overflow-y: scroll;
}
ul {
  list-style: none;
  margin: 1rem 0;
}
ul > li {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  border-radius: 0.5rem;
  margin: 0.5rem 0px;
  /* padding: 0.25rem; */
  padding-left: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
ul li:hover {
  cursor: pointer;
}
.close {
  padding: 1em;
  float: right; /* stops .checked 'line-through' style from cascading */
}
.close:hover {
  background-color: cadetblue;
}
.close::after {
  content: "\2716";
  /* content: "❌"; */
}
/* .checked {
  text-decoration: line-through;
  color: #8c8c8c;
} */

#masterList {
  /* --background: #ffffff; */
  /* --text: #414856; */
  --check: #4f29f0;
  --disabled: #c3c8de;
  /* --width: 100px; */
  /* --height: 140px; */
  /* --border-radius: 10px; */
  /* background: var(--background); */
  /* width: var(--width); */
  /* height: var(--height); */
  /* border-radius: var(--border-radius); */
  /* position: relative; */
  /* box-shadow: 0 10px 30px rgba(#414856, 0.05); */
  /* padding: 30px 45px; */
  /* display: grid; */
  /* grid-template-columns: 30px auto; */
  /* align-items: center; */
  label {
    border: red 1px dashed;
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: 100%;
    transition: color 0.3s ease;
    &::before,
    &::after {
      content: "";
      position: absolute;
    }
    &::before {
      height: 2px;
      width: 8px;
      left: -27px;
      background: var(--check);
      border-radius: 2px;
      transition: background 0.3s ease;
    }
    &:after {
      height: 4px;
      width: 4px;
      top: 8px;
      left: -25px;
      border-radius: 50%;
    }
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      top: auto;
      background: var(--check);
      border-radius: 2px;
    }
    &::before {
      width: 0px;
      right: 60%;
      transform-origin: right bottom;
    }
    &::after {
      width: 0px;
      left: 40%;
      transform-origin: left bottom;
    }
    &:checked {
      &::before {
        animation: check-01 0.4s ease forwards;
      }
      &::after {
        animation: check-02 0.4s ease forwards;
      }
      + label {
        color: var(--disabled);
        animation: move 0.3s ease 0.1s forwards;
        &::before {
          background: var(--disabled);
          animation: slice 0.4s ease forwards;
        }
        &::after {
          animation: firework 0.5s ease forwards 0.1s;
        }
      }
    }
  }
}

/* SECTION */
/* -- footer -- */
#footer {
  height: 8vh;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: #c4c4c4 0.5px solid;
}

/* GLOBALS */
h1 {
  font-weight: 400;
  font-size: 1.75rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.5rem;
}
button {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 0;
  background-color: var(--color3);
  color: white;
}
input,
select {
  height: 2rem;
  border: none;
  border-bottom: grey 1px solid;
  width: 48%;
  margin: 0.5rem 0rem;
  background-color: transparent;
}
.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.split {
  justify-content: space-between;
}

/* DESKTOP h:900? */
@media only screen and (min-width: 1440px) {
}
/* LAPTOP h:768 */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  /* SECTIONS */
  main {
    height: 708px;
    width: 38vw;
    /* border-radius: 3em; */
    /* background-color: azure; */
  }
  #dash {
    height: 34%; /* 40% */
    /* padding: 2rem 2rem 0px 2rem; */
    /* border-radius: 2em 2em 0px 0px; */
    /* background-color: var(--primary-accent); */
  }
  #filters {
    /* padding: 0.75rem 1.5rem; */
    height: 8%; /* 8% */
    /* background-color: var(--ltGrey); */
    /* border: #f857a6 dashed 2px; */
  }
  #list {
    height: 50%; /* 44% */
    /* padding: 0rem 1.5rem; */
    /* overflow-y: scroll; */
  }
  #footer {
    /* padding: 0 1.5rem; */
    height: 8%; /* 8% */
  }
  /* children */
  #filters-select {
    /* display: flex; */
    /* gap: 1rem; */
    /* position: absolute; */
    left: 5rem;
    width: 75%;
    /* z-index: 2; */
    /* overflow-x: scroll; */
    /* Hide scrollbar for IE, Edge and Firefox */
    /* -ms-overflow-style: none; IE and Edge */
    /* scrollbar-width: none; Firefox */
  }
}
/* TABLET h:1024 portrait, */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    height: 708px;
    width: 38vw;
  }
  #dash {
    height: 34%; /* 40% */
  }
  #filters {
    height: 8%; /* 8% */
  }
  #list {
    height: 50%; /* 44% */
  }
  #footer {
    height: 8%; /* 8% */
  }
  /*  */
  #filters-select {
    left: 75px;
  }
}
/* MOBILE h:320-400 */
@media only screen and (max-width: 768px) {
}

/* ANIMATIONS */
@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}
@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}
